@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollDontShow::-webkit-scrollbar {
    display: none;
}

.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

@layer components {
  .button {
    @apply p-3 rounded-md bg-orange-500 font-bold text-white transition-all duration-500 hover:bg-orange-600
  }

  .input {
    @apply border border-gray-300 rounded-md p-3 w-full outline-none
  }
}

/* HTML: <div class="loader"></div> */
.loader-create {
  width: 124px;
  height: 24px;
  -webkit-mask: 
    conic-gradient(from 135deg at top   ,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 0   ,
    conic-gradient(from -45deg at bottom,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 100%;
  -webkit-mask-size:25% 50%;
  -webkit-mask-repeat:repeat-x;
  background: linear-gradient(#69e699 0 0) left/0% 100% no-repeat #ddd;
  animation: l13 2s infinite linear;
}
@keyframes l13 {
  100% {background-size: 100% 100%}
}

.dots {
  width: 56px;
  height: 26.9px;
  background: radial-gradient(circle closest-side,#818cf8 90%,#0000) 0%   50%,
         radial-gradient(circle closest-side,#818cf8 90%,#0000) 50%  50%,
         radial-gradient(circle closest-side,#818cf8 90%,#0000) 100% 50%;
  background-size: calc(100%/3) 13.4px;
  background-repeat: no-repeat;
  animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
  20% {
     background-position: 0%   0%, 50%  50%,100%  50%;
  }

  40% {
     background-position: 0% 100%, 50%   0%,100%  50%;
  }

  60% {
     background-position: 0%  50%, 50% 100%,100%   0%;
  }

  80% {
     background-position: 0%  50%, 50%  50%,100% 100%;
  }
}